* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: dashed;
}

:root {
    --dp-primary-color: #b4d0e6;
    --dp-primary-color-dark: #000000;
    --dp-primary-color-light: white;
    --dp-primary-color-accent: white;
    --dp-primary-color-button: #0061fe;
    --dp-primary-color-button-effect: #5b92ea;
}

.button {
    color: var(--dp-primary-color-accent);
    padding: 0.5rem 1rem;
    background-color: var(--dp-primary-color-button);

    &:hover {
        background-color: var(--dp-primary-color-button-effect);
    }
}


header {
    min-height: 100px;
    background-color: var(--dp-primary-color-light);
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button {
        margin-top: -0.5rem;
    }

    ul {
        color: var(--dp-primary-color-dark);
        list-style: none;
        display: flex;
        gap: 2rem;

    }

    .nav-right,
    .nav-left {
        padding: 1rem;
    }

    a {
        color: var(--dp-primary-color-dark);
        text-decoration: none;

        &:hover {
            text-decoration-line: underline;
            text-decoration-thickness: 5px;
            text-underline-offset: 49px;

        }
    }

}

main {

    max-width: 80%;
    margin: auto;
    text-align: center;
}

.jumbo {
    background-color: var(--dp-primary-color);
    width: 100%;
    margin: 0;

    text-align: center;

    h1 {
        padding: 2rem;
    }
}

.jumbo_content {

    text-align: center;
    padding: 1rem;
    max-width: 400px;

    p {
        padding: 1rem;
    }
}


.jumbocontainer {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        display: flex;
        justify-content: center;
        max-width: 800px;
        max-height: 500px;
        margin-bottom: -3rem;
    }
}

.payment-options {
    padding: 4rem 0rem;
    text-align: left;
}

.radial {
    display: inline-flex;
    padding: 3rem 0rem;
    gap: 2rem;

    input[type="radio"] {


        accent-color: var(--dp-primary-color-button);
    }

}


.container {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.col {
    display: flex;
    flex-wrap: wrap;
    width: 33.333%;
    flex-basis: auto;
    padding: 1rem;

}

.card {
    border: 1px solid grey;
    height: 100%;

    * {
        padding: 1rem;
        text-align: left;
    }

    #checkmark {
        color: var(--dp-primary-color-button);
    }

    #top-icon {
        text-align: center;
        border-bottom: 1px solid grey;
    }

    label {
        color: grey;
    }


}





ul {
    list-style: none;
}

.box-content {
    display: flex;
    justify-content: space-between;

}

.box-type-one {

    background-color: brown;
}

.box-type-two {
    margin: auto;
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.102);
}

.footer-box {
    display: flex;
    justify-content: center;
    gap: 1rem;
}